.border{
    border: 1px solid;
    padding: 10px;
}

.wadah{
    width: 1000px;
    margin: auto;
}

.warna{
    background-image:linear-gradient(to right, red, yellow) ;
    color: white;
}

.img{
    width: 100px;
}

.card{
    width: 30%;
}

.horizontal{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.rata{
    text-align: center;
}